.NavBar {
    width: 150px;
    height: 100%;
    background-color: black;

    .NavBar_content {

        ul {
            margin-bottom: 10px;

            li {
                margin-bottom: 10px;
                border-bottom: 1px solid white;

                p {
                    color: white;



                }
            }
        }
    }
}