.NavBar {
    width: 150px;
    height: 100%;
    background-color: black;

    .NavBar_content {

        ul {
            margin-bottom: 10px;

            li {
                border-bottom: 1px solid white;

                &:hover {
                    background-color: rgb(116, 116, 116);
                }

                p {
                    color: white;
                    padding: 15px;

                    &:hover {
                        color: rgb(231, 231, 231);
                    }
                }
            }
        }
    }
}